<?xml version="1.0"?>
<launch>

<!--  Load parameters in cnr_param server-->
<node pkg="graph_ros_tests"
type="load_params.sh" name="load_params"
args="scene.yaml test_parallel_checker.yaml path.yaml"
output="screen">
</node>

<!--  Launche the cell and load the obstacles-->
<include file="$(find cartesian_moveit_config)/launch/demo.launch"> </include>
<!-- <include file="$(find high_dof_12_moveit_config)/launch/demo.launch"> </include> -->

<node pkg="cnr_scene_manager" name="cnr_scene_manager" type="cnr_scene_manager" output="screen">
        <param name="param_ns" type="string" value="/graph_ros_tests"/>
</node>

<!--  Launche the test node-->
<node pkg="graph_ros_tests"
name="test_parallel_checker"
type="test_parallel_checker"
output="screen"
launch-prefix="gdb -ex run --args" >
</node>

</launch>
<!--          launch-prefix="gdb -ex run -X-args" >-->
